<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-5" style="text-align: left;">

      <form>

        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" name ="nom" aria-describedby="nomHelp" [(ngModel)]="newCollegue.nom" required>
          <small id="nomHelp" class="form-text text-muted">Ex: Dupont</small>
        </div>

        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" name="prenoms" id="prenom" aria-describedby="prenomHelp" [(ngModel)]="newCollegue.prenoms" required>
          <small id="prenomHelp" class="form-text text-muted">Ex: Marc</small>
        </div>

        <div class="form-group">
          <label for="dateDeNaissance">Date de naissance</label>
          <input type="text" class="form-control" name="dateDeNaissance"id="dateDeNaissance" aria-describedby="ddnHelp" [(ngModel)]="newCollegue.dateDeNaissance" required>
          <small id="ddnHelp" class="form-text text-muted">JJ/MM/AAAA</small>
        </div>

        <div class="form-group">
          <label for="emailForm">Email</label>
          <input type="email" class="form-control" name ="email" id="emailForm" aria-describedby="emailHelp" [(ngModel)]="newCollegue.email" required>
          <small id="emailHelp" class="form-text text-muted">ex: exemple@hotmail.com</small>
        </div>

        <div class="form-group">
          <label for="urlPhoto">Photo URL</label>
          <input type="text" class="form-control" name= "urlPhoto" id="urlPhoto" [(ngModel)]="newCollegue.photoUrl" required>
        </div>


        <button (click)="creationCollegue()" class="btn btn-primary">Créer collegue</button>
      </form>

    </div>
  </div>
</div>

