<div class="container" style="margin-top:30px">
  <!--<div class="row" *ngFor="let col of collegues">-->
  <div class="row">
    <div class="col-sm-4" style="text-align: center;">
      <img class="mx-auto d-block img-fluid" style="max-width:150px;" src="{{ col['photoUrl'] }}" />
    </div>
    <div class="col-sm-5" style="text-align: left;">
      <p>Matricule : {{ col['matricule'] }}<br />
        Nom : {{ col['nom'] | uppercase }} <br />
        Prenom : {{ col['prenoms'] }}<br />
        Date de naissance : {{ col['dateDeNaissance'] | date:'dd/MM/yyyy' }}<br />
        e-mail : {{ col['email'] }}<br />
      </p>
      <!--Input for email-->
      <div class="form-group" [hidden]="elementMasquee">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
      <!--Input for imageUrl-->
      <div class="input-group mb-3" [hidden]="elementMasquee">
        <div class="input-group-prepend">
          <span class="input-group-text" id="urlphoto">URL photo</span>
        </div>
        <input type="text" class="form-control" aria-label="urlphoto" aria-describedby="urlphoto">
      </div>

      <a href="#"  (click)="creationCollegue()" [hidden]="!elementMasquee">Créer un nouveau collègue</a>
      <button type="button" class="btn btn-outline-secondary float-right" (click)="modifier()" [hidden]="!elementMasquee">Modifier</button>
      <button type="button" class="btn btn-outline-secondary float-right" (click)="valider()" [hidden]="elementMasquee">Valider</button>

    </div>
  </div>
</div>

